
#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#pracownicy tr.header, #pracownicy tr:hover {
  background-color: lightgrey;
}


.circle {
    	width: 100px;
  	height: 100px;
  	background: red;
  	-moz-border-radius: 50px;
  	-webkit-border-radius: 50px;
  	border-radius: 50px;
}

.btn-outline-success {
    color:   #80b3ff;

    background-color: transparent;
    background-image: none;
    border-color:    #80b3ff;

}

.btn-outline-success:hover {
    color: #fff;
    border-color:  #1a53ff;
    background-color: #0066ff;
}

a:hover {
font-weight: bold;
color: white;
  }

.all, .video, .foto, .grafika, .audio, .rozlicz, .it, .dzienn {
  font-size: 1em;
}

.all {
color:white;
background-color: #555;
}


.video {
background-color:#002db3;
color:white;
}

.foto {
background-color:#1a53ff;
color:white;
}

.grafika {
background-color:#0039e6;
color:white;
}

.audio {
background-color:orange;
color:white;
}

.rozlicz {
background-color:green;
color:white;
}

.dzienn {
background-color:purple;
color:white;
}

.it {
  background-color: #ff3333;
  color:white;
}

.video_sm, .foto_sm, .grafika_sm, .audio_sm, .rozlicz_sm, .it_sm, .dzienn_sm  {
padding:5px 8px;
color:white;
border-radius:5px;
display:inline-block;
font-size:1em;
margin:2px;
}

.dzienn_sm {
background-color: purple;
}


.audio_sm {
background-color: orange;
}

.it_sm {
background-color: #ff3333;
}

.video_sm {
background-color:#002db3;
}

.grafika_sm {
background-color:#0039e6;
}

.foto_sm {
background-color:#1a53ff;
}

.rozlicz_sm {
background-color:green;
}


.active {
  background-color: #ddd;
    color:#fff;
    padding-left:0px;
    border-left:1em solid red;
	font-weight:bold;
}

.sidebar {
  font-size: 1.2em;
}
